<!-- Required includeDefinitions: [api-helper, api-helper-extras, xlsx] -->
<div class="apiHelper apiHelperListDevices apiHelperLoggedIn">
    <div class="apiHelperBox">
        <div class="apiHelperProductOrSandboxSelector"> 
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr class="devOrProductRow">
                        <td class="apiHelperProductSelectorLabel apiHelperDevOrProductRadio">
                        <label><input type="radio" name="devOrProduct" value="product" checked/>Product Devices</label> &nbsp;&nbsp;
                        <label><input type="radio" name="devOrProduct" value="dev" />Sandbox Developer Devices</label> &nbsp;&nbsp;
                        </td><td>&nbsp;</td>
                    </tr>
                    <tr class="sandboxOrgRow" style="display:none">
                        <td class="apiHelperProductSelectorLabel apiHelperSandboxOrgRadio">
                        <label><input type="radio" name="sandboxOrg" value="sandbox" checked />Sandbox Product</label> &nbsp;&nbsp;
                        <label><input type="radio" name="sandboxOrg" value="org" />Organization Product</label> &nbsp;&nbsp;
                        </td><td>&nbsp;</td></tr>
                    <tr class="orgSelectorRow" style="display:none">
                        <td class="apiHelperProductSelectorLabel">Organization &nbsp;<select class="apiHelperOrgSelect apiHelperSelect"></select></td><td>&nbsp;</td>
                    </tr>
                    <tr class="productSelectorRow">
                        <td class="apiHelperProductSelectorLabel">Product &nbsp;<select class="apiHelperProductSelect apiHelperSelect"></select></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="apiHelperButton actionButton">List Devices</button>
                        </td>                
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>            
        </div>
        <div class="apiHelperStatus"></div>
        <div class="progressDiv" style="display:none">
            <progress value="0" max="100"></progress>
        </div>
        <div class="apiHelperFieldSelector" style="height:300px; overflow:auto;">
            <textarea style="display:none">
                {
                    "fields": [
                        {
                            "title": "Device ID",
                            "key": "id",
                            "checked": true,
                            "width": 24
                        },
                        {
                            "title": "Device Name",
                            "key": "name",
                            "checked": true,
                            "width": 15
                        },
                        {
                            "title": "ICCID",
                            "key": "iccid" ,
                            "checked": true,
                            "width": 20
                        },
                        {
                            "title": "IMEI",
                            "key": "imei",
                            "width": 16
                        },
                        {
                            "title": "Serial",
                            "key": "serial_number",
                            "width": 18
                        },
                        {
                            "title": "Wi-Fi MAC Address",
                            "key": "mac_wifi",
                            "width": 14
                        },
                        {
                            "title": "Groups",
                            "key": "groups",
                            "width": 15
                        },
                        {
                            "title": "Owner",
                            "key": "owner",
                            "width": 16
                        },
                        {
                            "title": "Last Heard",
                            "key": "last_heard"
                        },
                        {
                            "title": "Last Handshake",
                            "key": "last_handshake_at"
                        },
                        {
                            "title": "Last IP",
                            "key": "last_ip_address"
                        },
                        {
                            "title": "Online",
                            "key": "online"
                        },
                        {
                            "title": "Status",
                            "key": "status"
                        },
                        {
                            "title": "Device OS Version",
                            "key": "system_firmware_version"
                        },
                        {
                            "title": "Product ID",
                            "key": "product_id"
                        },
                        {
                            "title": "Platform ID",
                            "key": "platform_id"
                        },
                        {
                            "title": "Firmware Version",
                            "key": "firmware_version"
                        },
                        {
                            "title": "Desired Firmware Version",
                            "key": "desired_firmware_version"
                        },
                        {
                            "title": "Dev",
                            "key": "development"
                        },
                        {
                            "title": "Quarantined",
                            "key": "quarantined"
                        },
                        {
                            "title": "Denied",
                            "key": "denied"
                        },
                        {
                            "title": "Notes",
                            "key": "notes"
                        }
                    ]
                }
            </textarea>
            <div style="padding-top: 20px;">Fields to include:</div>
        </div>
        <div class="downloadDiv" style="display:none; padding-top: 20px;">
            <div>Download Data:</div>
            <div>
                <table class="apiHelperTableNoMargin">
                    <tbody>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Format</td>
                            <td>
                                <select class="formatSelect apiHelperSelect">
                                    <option value="xlsx" selected>Excel spreadsheet (.xlsx)</option>
                                    <option value="csv">Comma-separated values (.csv)</option>
                                    <option value="tsv">Tab-separated values (.tsv)</option>
                                    <option value="deviceId">Only Device ID, one per line (.txt)</option>
                                    <option value="iccid">Only ICCID, one per line (.txt)</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Date Format</td>
                            <td>
                                <select class="dateFormatSelect apiHelperSelect">
                                    <option value="iso" selected>ISO 8601 (cloud format)</option>
                                    <option value="m/d/yy">m/d/yy (may be localized by Excel)</option>
                                    <option value="d-mmm-yy">d-mmm-yy</option>
                                    <option value="d-mmm">d-mmm</option>
                                    <option value="mmm-yy">mmm-yy</option>
                                    <option value="m/d/yy h:mm">m/d/yy h:mm</option>
                                    <option value="h:mm:ss">h:mm:ss</option>
                                </select>                                                             
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label><input class="includeHeaderCheckbox" type="checkbox" checked/>Include header row</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="apiHelperButton downloadButton">Download data</button> &nbsp;&nbsp;
                                <button class="apiHelperButton copyButton">Copy data to clipboard</button>
                            </td>                
                        </tr>
                    </tbody>
                </table>      
            </div>
        </div>
        <div class="deviceTableFilters" style="display:none">

            <div class="deviceTableFiltersList">
            </div>
            <div class="deviceTableFilterTemplate" style="display:none; padding: 15px 0px 10px 0px;">
                <table class="apiHelperTableNoMargin">
                    <tbody>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Select devices</td>
                            <td>
                                <select class="deviceTableFilterKind apiHelperSelect">
                                    <option value="add" selected>Add a new filter</option>
                                    <option value="delete" disabled>Remove this filter</option>
                                    <option value="byPlatform" class="deviceTableFilterSandboxOnly">that are platform</option>
                                    <option value="byCellular" class="deviceTableFilterSandboxOnly">that are cellular devices</option>
                                    <option value="byWiFi" class="deviceTableFilterSandboxOnly">that are Wi-Fi devices</option>
                                    <option value="byProduct" class="deviceTableFilterSandboxOnly">that are product devices claimed to me</option>
                                    <option value="byNotProduct" class="deviceTableFilterSandboxOnly">that are not product devices</option>
                                    <option value="byGroup">belonging to the device group</option>
                                    <option value="byName">with a name matching the pattern</option>
                                    <option value="byLastConnectedBefore">with last connected before</option>
                                    <option value="byLastConnectedAfter">with last connected after</option>
                                    <option value="byFirstConnectedBefore">with first connected before</option>
                                    <option value="byFirstConnectedAfter">with first connected after</option>
                                    <option value="byClaimedUser" class="deviceTableFilterProductOnly">that are claimed to user</option>
                                    <option value="byClaimed" class="deviceTableFilterProductOnly">that are claimed to any user</option>
                                    <option value="byNotClaimed" class="deviceTableFilterProductOnly">that are not claimed to any user</option>
                                    <option value="byClaimedCustomer" class="deviceTableFilterProductOnly">that are claimed to a customer</option>
                                </select>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="deviceTableFilterByPlatform" style="display:none">
                            <td>Platform</td>
                            <td><select class="deviceTableFilterPlatformSelect"></select></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="deviceTableFilterName" style="display:none">
                            <td>Device name</td>
                            <td><input type="text" class="deviceTableFilterNameInput" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="deviceTableFilterByDate" style="display:none">
                            <td>Date</td>
                            <td><input type="text" class="deviceTableFilterDateInput" /></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="deviceTableFilterByUser" style="display:none">
                            <td>Claimed to user</td>
                            <td><input type="text" class="deviceTableFilterUserInput" /></td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="deviceTableDiv" style="display:none">
            <div>Selected devices:</div>
            <div style="width: 670px; overflow-x: auto;">
                <table class="apiHelperTableNoMargin">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="downloadDiv" style="display:none; padding-top: 10px;">
            <p style="font-size: x-small;">Excel and csv download provided by <a href="https://sheetjs.com/">SheetJS</a>. 
                Data conversion is done entirely within your browser and not uploaded to any external services.</p>
        </div>
    </div>
</div>

