<div class="pythonScriptManagement">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <thead>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Operations</th>
                </thead>
                <tbody class="pythonScriptManagementList"></tbody>
            </table>
        </div>
    </div>
</div>

