<div class="pythonScript">
    <div style="margin-bottom: 5px; margin-left: 2px;">
        Sample scripts: 
        <select class="apiHelperSelect pythonSamples">
            <option>-</option>     
            <option value="hello-world.py">Hello world!</option>       
            <option value="for-loop.py">Print from for loop</option>       
        </select>
    </div>
    <div class="pythonScriptDiv">
        <textarea class="apiHelperMono pythonScriptTextArea" rows="{{rows}}" cols="{{cols}}"></textarea>
    </div>
    <div>
        <button class="pythonScriptSendUSB" disabled>Send script by USB and run</button>
    </div>
</div>

