<div class="pythonDebugLogs">
    <div class="pythonDebugLogsOutput">
        <textarea class="apiHelperMono pythonDebugLogsTextArea" rows="{{rows}}" cols="{{cols}}"></textarea>
        <div><label><input type="checkbox" class="pythonDebugLogsScrollToEnd" checked>Always scroll to newest entries</label></div>
    </div>
</div>

