<div class="pythonConnect">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div><button class="pythonConnectConnect apiHelperButton">Connect</button> &nbsp;
                <button class="pythonConnectDisconnect apiHelperButton" disabled>Disconnect</button> &nbsp;
            </div>
            <div>
                <label><input type="checkbox" class="pythonAutoReconnect" checked>Automatically reconnect</label>
            </div>
        </div>
    </div>
    <div class="pythonConnectStatus">
    </div>
</div>

