<div class="pythonDevice">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr><td class="apiHelperProductSelectorLabel">Device</td><td><select class="pythonDeviceSelect apiHelperCommonDevice apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
