<div class="pythonConnect">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="pythonConnectConnect apiHelperButton">Connect</button> &nbsp;
                <button class="pythonConnectDisconnect apiHelperButton" disabled>Disconnect</button> &nbsp;
            </p>
        </div>
    </div>
    <div class="pythonConnectStatus">
    </div>
</div>

