<div class="pythonDevice">
    <div class="apiHelperBox">
        <table class="apiHelperTableNoMargin">
            <tr><td class="apiHelperProductSelectorLabel">Device</td><td><select class="pythonDeviceSelect apiHelperCommonDevice apiHelperSelect"></select></td><td>&nbsp;</td></tr>
        </table>
    </div>
</div>
