<div class="webhookTutorial webhookTutorialStarted" data-options="hook,{{{options}}}">
    <div class="apiHelper apiHelperLoggedIn">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td>Event Name</td>
                        <td class="webhookTutorialHookEvent"></td>
                    </tr>
                    <tr>
                        <td>URL</td>
                        <td class="webhookTutorialHookUrl"></td>
                    </tr>
                    <tr>
                        <td>Request Type</td>
                        <td class="webhookTutorialHookRequestType"></td>
                    </tr>
                    <tr>
                        <td>Request Format</td>
                        <td>JSON</td>
                    </tr>
                    <tr>
                        <td>Device</td>
                        <td>Any</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>Enabled</td>
                    </tr>
                    <tr>
                        <td>Response Topic</td>
                        <td class="webhookTutorialHookResponseTopic"></td>
                    </tr>
                    <tr>
                        <td>Error Response Topic</td>
                        <td class="webhookTutorialHookErrorResponseTopic"></td>
                    </tr>
                </tbody>
            </table>
            <p>JSON Data:</p>
            <textarea class="webhookTutorialHookJSON apiHelperMonoSmall" cols="80" rows="8">
            </textarea>

            <p><button class="webhookTutorialHookTest">Test Webhook</button> 
                <button class="webhookTutorialHookOpenInConsole">Open in Console</button> 
                </p>
        </div>
    </div>
</div>
