<div class="webhookTutorial webhookTutorialStarted webhookTutorialErrors" data-options="errors,{{{options}}}">
    <div class="apiHelper apiHelperLoggedIn">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td>Status Code</td>
                        <td>
                            <select class="apiHelperSelect">
                                <option selected value="200">200 OK</option>
                                <option value="400">400 Bad Request</option>
                                <option value="401">401 Unauthorized</option>
                                <option value="404">404 Not Found</option>
                                <option value="500">500 Internal Server Error</option>
                                <option value="501">501 Not Implemented</option>
                                <option value="503">503 Service Unavailable</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Response</td>
                        <td>
                            <textarea rows="8" cols="55"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
