<div class="webhookTutorial" data-options="done,{{{options}}}">
    <div class="apiHelper webhookTutorialStarted">
        <div class="apiHelperBox">
            <p><button class="webhookTutorialDeleteWebhookButton">Delete Webhook</button></p>
        </div>
    </div>
</div>
